<h2 class="title"><%= @member.会員詳細</h2>
  <p>顧客ID</p>
  <%= @member.id %>
  <p>氏名</p>
  <%= @member.first_name %>
  <%= @member.last_name %>
  <p>フリガナ</p>
  <%= @member.first_name_kana %>
  <%= @member.last_name_kana %>
  <p>郵便番号</p>
  <%= @member.postal_code %>
  <p>住所</p>
  <%= @member.address %>
  <p>電話番号</p>
  <p>メールアドレス</p>
  <%= @member.email %>
