<div class="container">
  <div class="row">
    <div class="col-md-3">
   <h2>ジャンル検索</h2>
       <% @genres.each do |genre| %>
    <div>
          <ul>
            <li><%= genre.genre_name %></li>
          </ul>
    </div>
        <% end %>
        </div>
    <div class="col-md-9">
        <h2>
          ようこそ、NaganoCakeへ！
      このサイトは、ケーキ販売のECサイトになります。
      会員でない方も商品の閲覧はできますが、
      購入には会員登録が必要になります。
        </h2>

      <div>
        <h3>おすすめ商品</h3>
        <div class="row">
         <% @items.each do |item| %>
         <div class="col-md-3">
           <ul>
             <li>
               <%= attachment_image_tag item, :item_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.png", size: '60x60' %>
             </li>
           </ul>
        <h3>
        <%= link_to item_path(item) do %>
        <%= item.item_name %>
        </h3>
        <% end %>
        <h3>¥
        <%= item.tax_excluded_price %>
        </h3>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>