<h2 class="head-line title_h2 text-center">注文履歴詳細</h2>
  <div class="row">
    <ul class="col-xs-9">
		<li class="form-group flex">
		  <div>
			購入者
		  </div>
		  <div>
		    <%= @order.member.last_name %><%= @order.member.first_name %>
		  </div>
	   </li>
	   
	    <li class="form-group flex">
	      <div>
	        配送先
	      </div>
	      <div class="text-right a-orders-show">
	        <%= @order.postal_code %><%= @order.address %>
	      </div>
	    </li>
	    
	    <li class="form-group flex">
	      <div>
	        支払い方法
	      </div>
	      <div class="text-right a-orders-show" >
	        <%= @order.payment_method %>
	      </div>
	    </li>
	   <li class="form-group flex-width">
 	   <%= form_for(@order, url: admin_order_path, method: :patch) do |f| %>
 	    <div>注文ステータス</div>
      	<div>
          <%= f.select :order_status, Order.order_statuses.keys %>
        </div>
      	<div class="actions">
          <%= f.submit '更新' ,class: "btn btn-primary" %>
      	</div>
      <% end %>
      </li>
      </ul>
	  <div class="buyer-order col-xs-9">
			<table class="table table-hover table-bordered table-inverse">
			    <thead>
			        <tr class="info">
			          <th class="col-xs-4">商品名</th>
			          <th>単価（税込）</th>
			          <th>数量</th>
			          <th>小計</th>
			          <th>製作ステータス</th>
			        </tr>
			    </thead>
				<tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
          <td><%= order_detail.item.item_name %></td>
          <td><%= order_detail.item.tax_excluded_price.to_s(:delimited) %></td>
          <td><%= order_detail.quantity %></td>
          <td><%= order_detail.item.tax_excluded_price*order_detail.quantity %></td>
          <%= form_with(model: order_detail, url: admin_ordered_item_path(order_detail.id),local:true,method: :patch) do |f| %>
          <td>
          <%= f.select:make_status,OrderedItem.make_statuses.keys %>
          <%= f.submit '更新' %>
          </td>

          <% end %>
          </tr>
          <% end %>
			</tbody>
			</table>
			<td><%= @biling_amount %></td>
	  </div>
	  <div class="col-xs-3  billing">
			<table class="table table-hover table-bordered table-condensed">
				<div>
				<label>商品合計</label>
				<%= @total.inject{|sum,n| sum + n} %>
				</div>
				<div>
				<label>配送料</label>
				<%= @shipping %>
					</div>
				<div>
				<label>ご請求額</label>
				<% if @total.count == 1 %>
				 <%= @total + @shipping %>
				<% else %>
					<%= @total.inject{|sum, n| sum + n } + @shipping %>
				<% end %>
				</div>
		    </table>
	  </div>

	  </div>

