<div class="row">


<h3 class="title">登録情報編集</h3>

<%= form_with model:@member, class: "form-horizontal", local:true do |f| %>
    <% if @member.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @member.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <div class="form-group">
    		<label class="col-sm-2 control-label" for="InputEmail">名前（姓）</label>
    		<div class="col-sm-4">
    			<%= f.text_field :last_name, autofocus: true, class: "last_name form-control" %>
    		</div>
    	  <label class="col-sm-1 control-label" for="InputEmail">（名）</label>
    		<div class="col-sm-4">
    			<%= f.text_field :first_name, class: "first_name form-control" %>
    		</div>
  	  </div>

  	  <div class="form-group">
    		<label class="col-sm-2 control-label" for="InputEmail">フリガナ（セイ）</label>
    		<div class="col-sm-4">
    			<%= f.text_field :last_name_kana, class: "last_name_kana form-control" %>
    		</div>
    	  <label class="col-sm-1 control-label" for="InputEmail">（メイ）</label>
    		<div class="col-sm-4">
    			<%= f.text_field :first_name_kana, class: "first_name_kana form-control" %>
    		</div>
  	  </div>

  	  <div class="form-group">
    		<label class="col-sm-2 control-label" for="InputEmail">メールアドレス</label>
    		<div class="col-sm-4">
    			<%= f.email_field :email, class: "email form-control" %>
    		</div>
  	  </div>

    	<div class="form-group">
    		<label class="col-sm-2 control-label" for="InputEmail">郵便番号</label>
    		<div class="col-sm-4">
    			<%= f.text_field :postal_code, class: "postal_code form-control" %>
    		</div>
  	  </div>

    	<div class="form-group">
    		<label class="col-sm-2 control-label" for="InputEmail">住所</label>
    		<div class="col-sm-10">
    			<%= f.text_field :address, class: "address form-control" %>
    		</div>
  	  </div>

  	  <div class="form-group">
    		<label class="col-sm-2 control-label" for="InputEmail">電話番号</label>
    		<div class="col-sm-4">
    			<%= f.text_field :phone_number, class: "phone_number form-control" %>
    		</div>
  	  </div>

  <div class="actions text-center">
    <%= f.submit "編集内容を保存する", class: "btn btn-primary" %> <%= link_to "退会する", leave_member_path, class: "btn btn-danger btn_margin" %>
  </div>
<% end %>
</div>