<div class="title">登録情報編集</div>

<%= form_with model:@member, local:true do |f| %>

<div class="field">
    <%= f.label '名前' %>
    <%= f.label '(姓) ' %>
    <%= f.text_field :first_name, autofocus: true %>
    <%= f.label '(名)' %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label 'フリガナ' %>
    <%= f.label '(セイ)' %>
    <%= f.text_field :first_name_kana, autofocus: true %>
    <%= f.label '(メイ)' %>
    <%= f.text_field :last_name_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "住所" %>
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "電話番号(ハイフンなし)" %>
    <%= f.text_field :phone_number, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を保存する", class: "btn-sm btn-primary" %> <%= link_to "退会する", leave_member_path, class: "btn-sm btn-danger" %>
  </div>
<% end %>
