<h3 class="title mypage_margin">マイページ</h3>

<h3>登録情報 <%= link_to "編集する", edit_member_path, class: "btn btn-primary" %>  <%= link_to "パスワードを変更する", edit_member_password_path, class: "btn btn-primary" %></h3>

<table border="1" class="mypage_table">
  <tbody class="mypage_tbody">
    <tr class="mypage_tr">
      <td class="mypage_td">氏名</td>
      <td class="mypage_td"><%= @member.first_name %> <%= @member.last_name %></td>
    </tr>
    <tr>
      <td class="mypage_td">カナ</td>
      <td class="mypage_td"><%= @member.first_name_kana %> <%= @member.last_name_kana %></td>
    </tr>
    <tr>
      <td class="mypage_td">郵便番号</td>
      <td class="mypage_td"><%= @member.postal_code %></td>
    </tr>
    <tr>
      <td class="mypage_td">住所</td>
      <td class="mypage_td"><%= @member.address %></td>
    </tr>
    <tr>
      <td class="mypage_td">電話番号</td>
      <td class="mypage_td"><%= @member.phone_number %></td>
    </tr>
    <tr>
      <td class="mypage_td">メールアドレス</td>
      <td class="mypage_td"><%= @member.email %></td>
    </tr>
    </tbody>
  </table>

  <h3>配送先 <%= link_to "一覧を見る", delivery_destinations_path, class: "btn btn-primary" %></h3>
  <h3>注文履歴 <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></h3>