<h3>ジャンル編集</h3>

<%= form_with model: @genre, url: admin_genre_path, class: "genre_edit_form", local:true do |f| %>

<div class="genre_edit_box">
<div class="genre_edit_tit">ジャンル
<%= f.text_field :genre_name, class: "genre_edit_field" %>
</div>
<div class="genre_edit_radio">
 <%= f.radio_button :is_activated, :true %>
 <%= f.label :is_activated, "有効"%>
 <%= f.radio_button :is_activated, :false %>
 <%= f.label :is_activated, "無効"%>
</div>
<div>
<%= f.submit "変更を保存する", class: "btn btn-primary genre_edit_btn" %>
</div>
</div>
<% end %>