<div class="container">
 <div class="low">
  <div class="col-lg-6">
  <h3>ジャンル一覧・追加</h3>
  <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
  <table class="genre_tr">
    <tr>
  <th>ジャンル
  <%= f.text_field :genre_name %>
  </th>
  <th class="genre_radio">
    <%= f.radio_button :is_activated, :true %>
    <%= f.label :is_activated, "有効"%>
    <%= f.radio_button :is_activated, :false %>
    <%= f.label :is_activated, "無効"%>
  </th>
  <th>
  <%= f.submit "追加", class: "btn btn-primary genre_btn" %>
  <% end %>
  </th>
  </tr>
  </table>

  <table class='table table-hover genre_table'>
    <thead>
      <tr>
        <th>ジャンル</th>
        <th>状態</th>
        <th colspan="3"></th>
      </tr>
    </thead>

      <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.genre_name %></td>
          <td><% if genre.is_activated == true %>
          有効
          <% else %>
          無効
          <% end %>
          </td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
 </div>
</div>