<div class="row">
  <table border="3" width="60%" style="float:left; margin-right:25px; margin-top:50px" >
    <caption>注文情報確認</caption>
    <tr>
      <th class="text-center" colspan="2">商品名</th>
      <th class="text-center">単価(税込)</th>
      <th class="text-center">数量</th>
      <th class="text-center">小計</th>
    </tr>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td class="text-center" colspan="2">
        <%= attachment_image_tag(cart_item.item, :item_image, :fill, 40, 60) %>
        <%= cart_item.item.item_name %>
      </td>
      <td class="text-center">
        <% price_included_tax = (cart_item.item.tax_excluded_price * @tax).floor %>
        <%= "#{price_included_tax.to_s(:delimited, delimiter: ',')}円" %></td>
      <td class="text-center"><%= cart_item.quantity %></td>
      <td class="text-center">
        <% sub_total = price_included_tax * cart_item.quantity %>
        <%= "#{sub_total.to_s(:delimited, delimiter: ',')}円" %>
      </td>
    </tr>
  <% end %>
  </table>
  <table border="3" width="20%" style="margin-top: 85px;" >
    <tr>
      <td class="text-center">送料</td>
      <td class="text-center"><%= "#{@shipping.to_s(:delimited, delimiter: ',')}円" %></td>
    </tr>
    <tr>
      <td class="text-center">商品合計</td>
      <td class="text-center"><%= "#{@sum.to_s(:delimited, delimiter: ',')}円" %></td>
    </tr>
    <tr>
      <td class="text-center">請求金額</td>
      <td class="text-center"><%= @biling_amounts %></td>
    </tr>
  </table>
</div>
<div class="row payment_method">
  <h5 class="topic-payment_method">支払い方法</h5>
    <span class="text-center">
      <%= @payment_method %>
    </span>
</div>
<div class="row delivery_destinations" style="margin-top: 10px">
  <h5 class="topic-delivery_destinations">お届け先</h5>
    <span>
      <%= "〒#{@address}様" %>
    </span>
</div>
<div class="form-row text-center" style="margin-bottom:30px">
  <%= form_with model: @order, url: orders_path, local: true do |f| %>
  <div class="btn_confirm">
    <%= f.hidden_field :payment_method %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :reciever_name %>
    <%= f.submit '購入を確定する', class:"btn btn-success btn-lg" %>
  </div>
  <% end %>
</div>