<h2>注文履歴一覧</h2>
<table class="table table-hover" border="1" width="90%" style="margin-top:30px; margin-bottom:30px">
  <thead class="active">
    <tr>
      <th class="text-center">注文日</th>
      <th class="text-center">配送先</th>
      <th class="text-center">注文商品</th>
      <th class="text-center">支払金額</th>
      <th class="text-center">ステータス</th>
      <th class="text-center">注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <%  @orders.each do |order| %>
    <tr>
      <td class="text-center">
        <%= order.created_at.strftime('%Y/%m/%d') %>
      </td>
      <td class="text-center">
        <%= "〒#{order.postal_code}" %><br>
        <%= order.address %><br>
        <%= "#{order.reciever_name} 様" %>
      </td>
      <td class="text-center"><% order.items.each do |item| %>
            <%= item.item_name %><br>
          <% end %>
      </td>
      <td class="text-center">
        <% sub_total = 0 %>
        <% order.ordered_items.each do |ordered_item| %>
          <% sub_total += ordered_item.purchased_price * ordered_item.quantity %>
        <% end %>
        <% biling_amount = sub_total + @shipping %>
        <%= "#{biling_amount.to_s(:delimited, delimiter: ",")}円" %>
      </td>
      <td class="text-center">
        <%= order.order_status %>
      </td>
      <td class="text-center">
        <%= link_to "表示する", order_path(order.id), class:"btn btn-primary" %>
      </td>
    </tr>
    <% end %>
    <%= paginate @orders %>
  </tbody>
</table>
