<h2>注文情報入力</h2>
  <%= form_with(model: @order, local: true, url: {controller: 'public/orders', action: 'check'}) do |f| %> 

    <div class="payment_method">
      <span>支払い方法</span>
        <%= f.radio_button :payment_method, 0, checked: true %>
        <%= f.label :payment_method, "クレジットカード" %>
        <%= f.radio_button :payment_method, 1 %>
        <%= f.label :payment_method, "銀行振込" %>
    </div>
    <%# 以下、引き渡す変数の修正必須。現在仮置き%>
    <div class="delivery_address">
      <ul>
        <span>お届け先</span>
          <li>
            <%= f.radio_button :address, "address", checked: true %>
            <%= f.label :address, "ご自身の住所" %>
              <%= @member_name %><br>
              <%= @member_address %>
          </li>
          <li>
            <%= f.radio_button :address, "address" %>
            <%= f.label :address, "登録済み住所から選択" %>
          </li>
          <li>
            <%= f.radio_button :address, "address" %>
            <%= f.label :address, "新しいお届け先" %>
        <%# <%= f.collection_select(:address, Delivery_destinations.all, :id, :address ) %>     
              <ul>
                <li>
                  <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
                  <%= f.text_field :postal_code %>
                </li>
                <li>
                  <%= f.label :address, "住所" %>
                  <%= f.text_field :address, size:60 %>
                </li>
                <li>
                  <%= f.label :reciver_name, "宛名" %>
                  <%= f.text_field :reciver_name %>
                </li>
              </ul>
          </li>
      </ul>
    </div>
    <div class="btn_check">
      <%= f.submit "確認画面へ進む" %>
    </div>
  <% end %>
  