<div class="row">

  <div class="col-xs-3 genre_box">
    <h3 class="text-center genre_tit">ジャンル検索</h3>
    <% @genres.each do |genre| %>
    <div>
      <ul class="genre_list">
        <li class="genre_item"><%= genre.genre_name %></li>
      </ul>
    </div>
    <% end %>
  </div>

  <div class="col-xs-9">

    <h1 class="title">商品一覧</h1>
    <div class="row">

      <% @items.each do |item| %>
        <div class="col-xs-3">
          <div class="image_box">

      <%= attachment_image_tag item, :item_image, :fill, 180, 100, fallback: "no_image.png", size: "180x100" %>

        <p>
          <%= link_to item_path(item) do %>
          <%= item.item_name %>
          <% end %>
        </p>
        <% tax_included_price = (item.tax_excluded_price * @tax).floor %>
      <p>￥<%= tax_included_price.to_s(:delimited, delimiter: ",") %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>

