<div class="row">
 <div class="col-xs-3 genre_box">
    <h3 class="text-center genre_tit">ジャンル検索</h3>
    <% @genres.each do |genre| %>
    <div>
      <ul class="genre_list">
        <li class="genre_item"><%= genre.genre_name %></li>
      </ul>
    </div>
    <% end %>
  </div>

  <div class="col-xs-9">
    <% flash[:message] %>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
    <div class="row item_show">
      <div class="col-xs-6">
        <%= attachment_image_tag @item, :item_image, :fill, 320, 250, fallback: "no_image.png" %>
      </div>
      <div class="col-xs-6">
        <h2><strong><%= @item.item_name %></strong></h2>
        <p class="item_show_txt"><%= @item.introduction %></p>
        <% tax_included_price = (@item.tax_excluded_price * @tax).floor %>
        <h3>￥<%= tax_included_price.to_s(:delimited, delimiter: ",") %>（税込）</h3><br>
        <%=f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :quantity, options_for_select((1..25).to_a), include_blank: "個数選択", class: 'form-control item_show_form' , required: true %>
        <%= f.submit 'カートに入れる', class: "btn-sm btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>