<div class="col-xs-3">
  <h2>ジャンル検索</h2>
  <% @genres.each do |genre| %>
  <div>
    <ul>
      <li><%= genre.genre_name %></li>
    </ul>
  </div>
  <% end %>
</div>

<div class="col-xs-12">
  <% form_with model: @item, url: cart_items_path, local: true do |f| %>
  <p><%= @item.item_name %></p>
  <p><%= @item.introduction %></p>
  <p>￥<%= @item.tax_excluded_price %>（税込）</p>
  <%= f.select :quantity, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"]], include_blank: "個数選択" %>
  <%= f.submit 'カートに入れる' %>
  <% end %>
</div>