<div class="col-xs-3">
  <h2>ジャンル検索</h2>
  <% @genres.each do |genre| %>
  <div>
    <ul>
      <li><%= genre.genre_name %></li>
    </ul>
  </div>
  <% end %>
</div>

<div class="col-xs-12">
 
  <%= form_with model: @item, url: cart_items_path(@item.id), local: true do |f| %>
  <div class="col-xs-12">
  <p><%= @item.item_name %></p>
  <p><%= @item.introduction %></p>
  <p>￥<%= @item.tax_excluded_price %>（税込）</p>

  <%= f.select :quantity, options_for_select((1..25).to_a), include_blank: "選択してください", class: 'form-control' , required: true %>
  <%= f.submit 'カートに入れる' %>
  </div>
  <% end %>
  </div>