<div class="col-xs-3">
  <h2>ジャンル検索</h2>
  <% @genres.each do |genre| %>
  <div>
    <ul>
      <li><%= genre.genre_name %></li>
    </ul>
  </div>
  <% end %>
</div>

<div class="col-xs-12">
 
  <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
  <div class="col-xs-12">
  <p><%= @item.item_name %></p>
  <p><%= @item.introduction %></p>
  <p>￥<%= @item.tax_excluded_price %>（税込）</p>

<%=f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], include_blank: "個数選択" %>


  <%= f.select :quantity, options_for_select((1..25).to_a), include_blank: "個数選択", class: 'form-control' , required: true %>

  <%= f.submit 'カートに入れる' %>
  </div>
  <% end %>
  </div>