<div class="row">
  <div class="col-xs-3" style='border:1px solid;'>
    <h2><strong>ジャンル検索</strong></h2>
    <% @genres.each do |genre| %>
    <div>
      <ul style='list-style:none;'>
        <li><%= genre.genre_name %></li>
      </ul>
    </div>
    <% end %>
  </div>

  <div class="col-xs-9">
    <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
    <div class="row">
      <div class="col-xs-6">
        <%= attachment_image_tag(@item, :item_image, :fill, 350, 250, fallback: "no-image-mini.jpg") %>
      </div>
      <div class="col-xs-6">
        <h3><strong><%= @item.item_name %></strong></h3>
        <p><%= @item.introduction %></p>
        <h3>￥<%= @item.tax_excluded_price.to_s(:delimited, delimiter: ",") %>（税込）</h3><br>
        <%=f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :quantity, options_for_select((1..25).to_a), include_blank: "個数選択", class: 'form-control' , required: true %>
        <%= f.submit 'カートに入れる', class: "btn-sm btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>