  <h2 class="nav nav-pills navbar-left logo">
    <% if admin_signed_in? %>
    <%= link_to "NaGaNo-cake", admin_root_path, class: "logo_txt" %>
    <% else %>
    <%= link_to "NaGaNo-cake", root_path, class: "logo_txt" %>
    <% end %>
  </h2>

  <nav>
    <ul class="nav nav-pills navbar-right">
      <% if member_signed_in? %>
       <!--メンバーログイン-->
        <li class="header-name">
          ようこそ、<%= current_member.last_name %><%= current_member.first_name %>さん！
        </li>
        <li class="header_item">
          <%= link_to " my page", member_path(current_member), class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <li class="header_item">
          <%= link_to " items", items_path, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <li class="header_item">
          <%= link_to " carts", cart_items_path, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <li class="header_item">
          <%= link_to " log out", destroy_member_session_path, method: :delete, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
      <% elsif admin_signed_in? %>
      <!--管理者ログイン-->
        <li class="header_item">
          <%= link_to " items", admin_items_path, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <li class="header_item">
          <%= link_to " members", admin_members_path, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <li class="header_item">
          <%= link_to " orders", admin_orders_path, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <li class="header_item">
          <%= link_to " genres", admin_genres_path, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <li class="header_item">
          <%= link_to " log out", destroy_admin_session_path, method: :delete, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <form class="search">
        <input class="search-input"  type="text"  placeholder="Search">
        <%= button_tag( class: "btn btn-default btn-sm search-btn") do %>
        <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
        <% end %>
        </form>
      <% else %>
      <!--ログインしていない-->
        <li class="header_item">
          <%= link_to " about", homes_about_path, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <li class="header_item">
          <%= link_to " items", items_path, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <li class="header_item">
          <%= link_to " sign up", new_member_registration_path, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
        <li class="header_item">
          <%= link_to " log in", new_member_session_path, class: "header_btn glyphicon glyphicon-leaf" %>
        </li>
      <% end %>
    </ul>
  </nav>