<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= render 'layouts/header' %>
    </header>
    <div class="container">
      <div class="row row-height">
        <%= yield %>
      </div>
    </div>
    <footter>
      <%= render 'layouts/footer' %>
    </footter>
  </body>
</html>
